.phonebookWrapp {
  text-align: center;
  margin-bottom: 20px;
}

.phonebookForm {
  display: inline-block;
  text-align: left;
}

.label {
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 10px;
  width: 300px;
}

.buttonInput {
  width: 150px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  background-color: rgba(32, 178, 170, 0.5);
  cursor: pointer;
}
.buttonInput:hover {
  background-color: lightseagreen;
  color: white;
  font-weight: 700;
}
