.authBlock {
  display: flex;
}

.userName {
  display: inline-block;
  margin: 0;
  align-self: center;
  margin-right: 20px;
}

.button {
  width: 90px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  background-color: rgba(32, 178, 170, 0.5);
  cursor: pointer;
}

.button:hover {
  background-color: lightseagreen;
  color: white;
  font-weight: 700;
}
